<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.AttendanceStateMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加考勤状态记录 -->
	<insert id="addAttendanceState" parameterType="attendanceState">
		insert into t_attendanceState(stateName) values 
		(#{stateName})
	</insert>

	<!-- 按照查询条件分页查询考勤状态记录 -->
	<select id="queryAttendanceState" resultMap="attendanceStateMap" >
		select t_attendanceState.* from t_attendanceState ${where} limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="attendanceStateMap" type="attendanceState">
        <id property="stateId" column="stateId" />
    </resultMap>

    <!-- 按照查询条件查询所有考勤状态记录 -->
	<select id="queryAttendanceStateList" resultMap="attendanceStateMap" >
		select t_attendanceState.* from t_attendanceState ${where}
	</select>

    <!-- 按照查询条件的考勤状态记录数 -->
	<select id="queryAttendanceStateCount" resultType="int">
		select count(*) from t_attendanceState ${where}
	</select>

	<!-- 根据主键查询某个考勤状态记录 -->
	<select id="getAttendanceState" parameterType="int" resultMap="attendanceStateMap">
		select * from t_attendanceState where t_attendanceState.stateId = #{stateId}
	</select>

	<!-- 更新考勤状态记录 -->
	<update id="updateAttendanceState" parameterType="attendanceState">
		update t_attendanceState set stateName=#{stateName} where stateId = #{stateId}
	</update>

	<!-- 删除考勤状态记录 -->
	<delete id="deleteAttendanceState" parameterType="int">
		delete from t_attendanceState where stateId=#{stateId}
	</delete>

</mapper>
